<div class="flex flex-col">
  <div class="m-6 flex flex-row justify-center">
    <form class="example-form w-1/4">
      <mat-form-field class="example-full-width items-center w-full">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Beispiel: Dennis Heine" (keyup)="onKeyName($event)">
      </mat-form-field>
    </form>
    <button class="m-3" mat-raised-button (click)="identifyNameParts()">erkennen</button>
    <form class="example-form w-1/4">
      <mat-form-field class="example-full-width items-center w-full">
        <mat-label>neuer Titel (genaue Schreibweise beachten, zB Ing. mit Punkt)</mat-label>
        <input matInput placeholder="Beispiel: Ing." (keyup)="onKeyNewTitle($event)">
      </mat-form-field>
    </form>
    <button class="m-3" mat-raised-button (click)="addNewTitle()">hinzufügen</button>
  </div>
  <div class="flex flex-row justify-center">
    <form class="example-form w-full flex flex-row">
      <mat-form-field class="example-full-width items-center w-full m-4">
        <mat-label>Geschlecht</mat-label>
        <input matInput [(ngModel)]="gender" name="gender">
      </mat-form-field>
      <mat-form-field class="example-full-width items-center w-full m-4">
        <mat-label>Titel</mat-label>
        <input matInput [(ngModel)]="title" name="title">
      </mat-form-field>
      <mat-form-field class="example-full-width items-center w-full m-4">
        <mat-label>Vorname</mat-label>
        <input matInput [(ngModel)]="firstName" name="firstName">
      </mat-form-field>
      <mat-form-field class="example-full-width items-center w-full m-4">
        <mat-label>Nachname</mat-label>
        <input matInput [(ngModel)]="lastName" name="lastName">
      </mat-form-field>
    </form>
  </div>
  <div class="flex flex-row justify-center">
    <button class="m-3" mat-raised-button (click)="generateGreeting()">Grußformel generieren</button>
  </div>
  <div class="flex flex-row justify-center">
    <textarea class="h-[50vh] w-[50vw] border-solid border-2 border-grey-300 rounded-lg p-2" style="resize: none">{{greeting}}</textarea>
  </div>
</div>
